body {
    background-color: #ccaaca;
}

button {
    font-size: 15px;
}
input {
    font-size: 15px;
}

#trending {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
#local {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

#grid {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}


.station {
    --size: 100px;

    margin:  5px;
    width: var(--size);
    height: var(--size);
    background-size: cover;
    background-repeat: no-repeat;
    font-style: italic;
    font-size: 15px;
    font-weight: bolder;
    color: #523;
}


.container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-style: italic;
    align-items: center;
    justify-content: center
}
